{
  "presets": ["react", "es2017", "stage-2", "babili"],
  "plugins": ["transform-decorators-legacy"],
  "env": {
    "test": {
      "presets": ["es2015", "react"],
      "plugins": ["transform-class-properties"]
    }
  }
}
